{% extends "main/main.html" %}

{% block content %}

{% if validlink %}

    <div class="container py-5 h-100">       
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card w-75 shadow-custom">
                <div class="card-body">
                    <form method="POST">
                    {% csrf_token %}
                         
                            <p class="card-text py-2 text-center">
                                <b>Enter your new password to confirm password change</b>
                            </p>
                            <div data-mdb-input-init class="form-outline">
                                <input type="password" name="new_password1" class="form-control my-3" required />
                                <label class="form-label">Enter your new password</label>
                            </div>
                            <div data-mdb-input-init class="form-outline">
                                <input type="password" name="new_password2" class="form-control my-3" required />
                                <label class="form-label">Repeat your new password</label>
                            </div>
                            <button class="btn btn-outline-primary my-2">
                                Submit
                            </button>
                        
                    </form>
                </div>
           </div>
        </div>  
    </div>    

{% else %}

<div class="container py-5 h-100">       
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="card w-75 shadow-custom">
                <div class="card-body">
                    <h2>Sorry</h3>
                    <h4>This password rest link expired</h4>
                    <p>Please try to reset your password  <a id="user-link" href={% url 'password_reset' %}>here</a></p>
                    <a href="{% url 'home' %}" class="btn btn-outline-primary btn-sm">Back To Home</a>                        
                </div>
           </div>
        </div>  
    </div>    

{% endif %}

{% if form.errors %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {% for key, value in form.errors.items %}
                <p> <strong>{{ value }}</strong></p>
            {% endfor %} 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
{% endif %}
{% endblock content %}